.container {
    background-color: var(--primary-bg-color);
    height: var(--navbar-height);
    padding: 0 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.container a {
    color: white;
}