:root {
    --primary-bg-color: blueviolet;
}

* {
    margin: 0;
    padding: 0;
}

html, body, .main-div {
    height: 100%;
}

.main-div {
    display: flex;
}

.content-container {
    width: 100%;
}

a {
    text-decoration: none;
    display: flex;
}