:root {
    --primary-bg-color: blueviolet;
}

* {
    margin: 0;
    padding: 0;
}

html, body, .main-div {
    height: 100%;
}

.main-div {
    display: flex;
}

.content-container {
    width: 100%;
}

.primaryBtn {
    background-color: var(--primary-bg-color);
    color: white;
    margin: 1rem;
}